{% extends 'photolocations/base.html' %}

{% block content %}
<h2>Locations</h2>
<p><a href="{% url 'create_location' %}">Create a new location</a></p>

{% if locations %}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Photo Count</th>
    </tr>
    </thead>
    <tbody>
    {% for location in locations %}
    <tr>
        <td>
            <a href="{% url 'location_details' location.id %}">{{ location.name }}</a>
        </td>
        <td>{{ location.location_type }}</td>
        <td>{{ location.photo_count }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No locations are available.</p>
{% endif %}
{% endblock %}
