{% load static %}
<html>
    <head>
        <title>Locations App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    </head>
    <body>
    <div class="content container">
        <div class="row d-block">
        {% block content %}
        {% endblock %}
        </div>
    </div>
    </body>
</html>
