{% extends 'photolocations/base.html' %}

{% block content %}
<h2>Create New Location</h2>
<p><a href="{% url 'all_locations' %}">⟵  Back to the locations list</a></p>

<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    {% for field in location_form %}
    <div class="form-group">
        {% if field.errors %}
            <div class="row">{{ field.errors }}</div>
        {% endif %}
        {{ field.label_tag }}
        {{ field }}
    </div>
    {% endfor %}

    {% for photo_form in photo_formset %}
        <div class="form-group">
            {% if photo_form.image_file.errors %}
                <div class="row">{{ photo_form.image_file.errors }}</div>
            {% endif %}
            {{ photo_form.image_file.label_tag }}
            {{ photo_form.image_file }}
        </div>
    {% endfor %}
    {{ photo_formset.management_form }}<!-- required hidden form data for the formset -->
    <input type="submit" value="Save">
</form>

{% endblock %}
