{% extends 'photolocations/base.html' %}

{% block content %}
<h2>Edit Location</h2>
<p><a href="{% url 'all_locations' %}">⟵  Back to the locations list</a></p>

<form action="" method="post">{% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {% if field.errors %}
            <div class="row">{{ field.errors }}</div>
        {% endif %}
        {{ field.label_tag }}
        {{ field }}
    </div>
    {% endfor %}
    <input type="submit" value="Save">
</form>

{% endblock %}
