{% extends 'photolocations/base.html' %}

{% block content %}
<h2>Location details</h2>
<p><a href="{% url 'all_locations' %}">⟵  Back to the locations list</a></p>
<p><a href="{% url 'edit_location' location.pk %}">Edit this location</a></p>

<h3>{{ location.name }}</h3>
<p><b>Location type:</b> {{ location.location_type }}</p>
<p><b>Notes:</b>
{% if location.notes %}
    {{ location.notes }}
{% else %}
    No notes found for this location.
{% endif %}
</p>
<p><b>Last saved:</b> {{ location.datetime_saved }}</p>
<p><b>Photos:</b></p>
{% if photos %}
    {% for photo in photos %}
        <img src="{{ photo.image_file.url }}" width="256"/>
    {% endfor %}
{% else %}
    <p>No photos found for this location.</p>
{% endif %}

{% endblock %}
